---
title: "Jerry"
layout: default
permalink: "/author-jerry.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <p><a href="{{ site.authors.jerry.site }}">{{ site.authors.jerry.site }}</a></p>
                <p class="excerpt">{{ site.authors.jerry.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.jerry.name }}" src="{{site.baseurl}}/{{ site.authors.jerry.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Posts by {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author","jerry" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>